.game {
  @extend .section;
  color: #fff;

  img {
    width: auto;
    max-width: 100%;
  }

  a {
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px;

    &:active,
    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      opacity: 0.8;
    }

  }

  .fa {
    margin-right: 5px;
  }
}
