!= partial("../_shared/opening")
.container.post(role="main")
  != yield
  != partial("../_shared/article-nav")
  != partial("../_shared/person", { person: author })
if disqus
  .comments
    .container
      != partial("../_shared/comments")
