* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  background: $color-background;
  color: $color-text;
  line-height: $line-height-base;
  font-variant: normal;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 100;
}

a, a:visited {
  text-decoration: none;
  color: $color-link;
  transition: color 0.1s ease-in-out;
  &:hover, &:focus {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-active;
  }
}

header, h1, h2, h3, h4, h5 {
  font-family: $font-family-base;
  line-height: 1.05;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.logo {
  color: $light-green;
  text-align: center;
  display: block;
  z-index: 100;

  img {
    width: 250px;
    height: 250px;
  }

  h1 {
    color: $light-green;
    font-size: 40px;
    font-weight: 300;
  }
}

header.header {
  display: block;
  background: $green;
  padding: 20px;
}

/* Web Fonts */

.wf-loading {
  visibility: hidden;
}

.wf-active,
.wf-inactive {
  visibility: visible;
}

/* Typogr.js */

.sc {
  font-family: "source-sans-pro-sc", $font-family-base;
  text-transform: lowercase;
  font-feature-settings: "smcp" 1, "c2sc" 1, "cpsp" 1;
}

/* Footer */

.return {
  margin-top: 2em;
  display: inline-block;
  padding: 1em;
  margin-left: -1em;
}

.section {
  padding: 32px;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.footer {
  @extend .section;
  background-color: #333;
  background-image: url('/images/svuv.gif');
  min-height: 350px;
  padding: 0;

  .opacity {
    padding: 32px;
  }

  .social-buttons {
    font-size: 4em;
    margin: 0px
  }

  a {
    color: white;
    margin: 0 5px;
    opacity: 0.7;
    display: inline-block;

    &:active,
    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.opacity {
  background: url(/images/opacity.png) repeat;
}

.not-found {
  text-align: center;
  padding: 60px 0;
}
