.game {
  @extend .section;
  color: #fff;

  img {
    width: auto;
    max-width: 100%;
  }

  a {
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: 0 5px;

    &:active,
    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      opacity: 0.8;
    }

  }

  .fa {
    margin-right: 5px;
  }

  &.game-featured {
    padding: 70px 0;
    font-size: 24px;

    h1 {
      font-size: 100px;

      @media (max-width: $screen-sm) {
        font-size: 60px;
      }
    }

    img {
      margin-top: 24px;
    }
  }
}

.game-prototypes {
  padding-top: 30px;
  background-color: $green;

  h1 {
    color: $light-green;
    text-align: center;
  }

  h3 {
    font-weight: 100;
  }

  .game-links {
    a {
      margin: none;
      font-size: 24px;
    }

    span {
      display: none;
    }
  }
}

.pursuit-rush {
  color: white;

  .header {
    @extend .section;
    background-color: #454335;
    background-image: url('/images/pursuit-rush.gif');
    padding: 0;

    .title {
      padding-top: 50px;
      font-size: 80px;
    }

    .opacity {
      background: url(/images/opacity.png) repeat;
      padding: 32px;
      min-height: 350px;
    }
  }

  .download {
    @extend .section;
    text-align: left;
    background: #7491bd;

    .newsletter {
      margin-top: 24px;

      .mailchimp-form {
        input {
          color: white;
          border-color: white;
        }

        .button {
          font-family: Arial;
          font-weight: 900;
          font-style: italic;
          text-shadow: 1px 1px black;
        }
      }
    }

    .download-links {
      h2 {
        margin-bottom: 10px;
      }

      .fa {
        width: 30px;
      }

      a {
        color: white;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Arial;
    font-weight: 900;
    font-style: italic;
    text-shadow: 2px 2px black;
  }
}
