// Font Stacks
// ===========

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-serif: Georgia, serif;
$font-family-monospace: "Source Code Pro", "source-code-pro", Monaco, Menlo, Consolas, "Courier New", monospace;

$font-family-base: $font-family-sans-serif;
$font-family-alternate: $font-family-sans-serif;

// Type size
// =========

$line-height-base: 1.55;


// Colors
// ======

$green: #45AA43;
$light-green: #DAFFA3;

$color-background: #fff;
$color-text: #555;
$color-text-light: lighten($color-text, 20%);
$color-text-lighter: lighten($color-text, 40%);
$color-header: $light-green;

$color-gray: darken($color-background, 5%);
$color-gray-dark: darken($color-background, 25%);
$color-blue: #e34265;

$color-link: $green;
$color-link-hover: lighten($color-link, 10%);
$color-link-active: darken($color-link, 10%);


// Media Queries
// =============

$screen-small: 23em;
$screen-medium: 40em;
$screen-large: 70em;
