!= partial("_shared/featured-game")
.latest-posts
  .container
    h1 Latest from our blog
    != partial("_shared/articles", { postlimit: 2 })

!= partial("_shared/games")

!= partial("_shared/mailchimp")
