.pursuit-rush
  .header
    .opacity
      .container
        h1.title Pursuit Rush

  .download
    .container
      .col-sm-8.col-md-8
        h1 Pursuit Rush Alpha 2
        p Important changes in this release:
        ul
          li Lots of new props and environment details
          li Cops and traffic cars can explode if they fall from great heights
          li Background music. The music itself is just a placeholder to show the dynamic music system. Different instruments play when you're moving, jumping, or being chased.
        p As usual, we are open for feedback. Have fun.

        .download-links
          h2
            a(href="https://mega.nz/#!KwBVnD5T!YpuaFSPn6N1O_gMTr0KBEbni3IzgGq1O-QHtpESqnQk" target="_blank")
              i.fa.fa-windows 
              span Download for Windows
          h2
            a(href="#" target="_blank")
              i.fa.fa-apple 
              span Download for macOS

      .col-sm-4.col-md-4.newsletter
        h2 Subcribe for updates
        != partial("_shared/mailchimp-form")
