footer.footer(role="contentinfo")
  .opacity
    a(href="/")
      h1 About us

    p
      | We're just a group of friends passionate about making video games who don't really feel like spending a lot of time in the about section of their website.
      br
      | Give the games a try and follow us for updates :)

      p
        | Wanna talk? Say
        a(href="mailto:hello@bravebunny.co") hello@bravebunny.co

      p.social-buttons
        a(href="https://www.facebook.com/bravebunnygames" target="_blank")
          i.fa.fa-facebook-square
        a(href="http://twitter.com/bravebunnygames" target="_blank")
          i.fa.fa-twitter
        a(href="http://github.com/bravebunny" target="_blank")
          i.fa.fa-github

      p
        a(href="http://twitter.com/raicuparta" target="_blank") @Raicuparta
        a(href="http://twitter.com/JeronimoPie" target="_blank") @JeronimoPie
        a(href="http://twitter.com/xicombd" target="_blank") @xicombd
