meta(charset="utf-8")
title 
  | Brave Bunny
  = title ? ' - ' + title : ''
meta(name="description", content="We are a small group of friends who love programming and making silly games. Give the games a try and follow us for updates!")
meta(name="author", content="Francisco Dias, Ricardo Lopes and Tiago Silva")
meta(name="handheldfriendly", content="true")
meta(name="mobileoptimized", content="320")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="cleartype", content="on")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(property="og:title" content="Brave Bunny")
meta(property="og:url" content="http://bravebunny.co/")
meta(property="og:image" content="http://bravebunny.co/img/bunny2.png")
meta(property="og:site_name" content="Brave Bunny")
link(rel="shortcut icon" href="/images/favicon.ico")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/application.css")
