.mailchimp
  .container
    .col-sm-8.col-md-8
      h1 Like what you see? 
      h2 Subscribe to our newsletter
      div We promise we won't spam :)
    .col-sm-4.col-md-4
      != partial("mailchimp-form")
